/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/07/2014, 03:08:36
    Author     : Micael
*/

.atividade_button{
margin-left: 5px;
margin-top: 5px;
font-size: 12px;
}

.quadros_atividades{
    min-height: 180px;
    margin: 0 auto;
    //margin-top: 50px;
    width: 300px;
    border-radius: 8px; /* CSS3 */
    -khtml-border-radius: 8px; /* Safari() */
    -moz-border-radius: 8px; /* Mozilla */
    -opera-border-radius: 8px; /* Opera */
    -webkit-border-radius: 8px; /* Safari */
    border: 1px solid lightgrey;
    box-shadow: 0 -1px 20px -1px rgba(0, 0, 0, 0.32);
    cursor:pointer;

}

.quadros_respostas{
    height: 250px;
    margin: 0 auto;
    //margin-top: 50px;
    width: 250px;
    border-radius: 8px; /* CSS3 */
    -khtml-border-radius: 8px; /* Safari() */
    -moz-border-radius: 8px; /* Mozilla */
    -opera-border-radius: 8px; /* Opera */
    -webkit-border-radius: 8px; /* Safari */
    border: 1px solid lightgrey;
    box-shadow: 0 -1px 20px -1px rgba(0, 0, 0, 0.32);
    cursor:pointer;

}
