/* 
    Created on :  Created on : 16/05/2014, 11:52:48
    Author     : Micael
*/



p {
    font-family: Trebuchet MS, Verdana;
    font-size: 14px;
    padding: 10px;
    margin-left: 5px;

}

h1 {
    font-family: Trebuchet MS, Verdana;
    font-size: 20 px;
    padding: 10px;
    margin-left: 5px;
}

h3 {
    font-family: Trebuchet MS, Verdana;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin-left: 5px;
    
}

.botao{
    font:bold 16px Trebuchet MS, Helvetica, sans-serif;
    font-style:normal;
    color:#FFF;
    float:right;
    margin-right:25px;
    border-radius:5px 5px 5px 5px;
    border: solid 1px #034D74;
    background: #067AB7;
    width:90px;
    height: 40px;
    padding:0px 20px;
    cursor:pointer;
    //margin:0 auto;
    //border: 2px;
}

.botaocadastro{
    font:bold 14px Trebuchet MS, Helvetica, sans-serif;
    font-style:normal;
    color:#FFF;
    margin-top: 10px;
    background: #BCDCFC;
    border-radius:5px 5px 5px 5px;
    margin-left: 10px;
    border: solid 1px #99B3FF;
    width:120px;
    height: 30px;
    padding:0px 20px;
    cursor:pointer;
    //margin:0 auto;
    //border: 2px; 
}

.botao:active{
    cursor:pointer;
    position:relative;
    top:2px;
}

.botoes_menu{
    font: 18px Tahoma, Geneva, sans-serif;
    font-style:normal;
    color:#FFF;
    padding:20px 30px;
    cursor:pointer;
}

div#TituloAbas{
    width:100%; 
    padding-left: 5px;
    overflow:hidden;
    cursor: pointer;

}

.controladorAbas{
    
    padding-left: 20px;
    width:100%; 
    overflow:hidden; 
    height:100%;
    float: left;
}

div#ConteudoAbas{
    width:95%; 
    height: 82%;
    overflow:hidden;
    padding-left: 20px;
    padding-bottom: 20px;
    border: #067AB7 solid 1px ;
    border-radius:5px 5px 5px 5px;
    background:#27408B;
    color:#000000;
    background:#FFF;
}

.abas{
    display:inline;
    float:left;
    width:100px;
    height:30px; 
    border:#067AB7 solid 2px;
    border-radius:5px 5px 0px 0px;
    text-align:center;
    padding-top:5px;
    padding-left: 5px;
    background:#067AB7;
    margin-right:10px;
    font-family: Trebuchet MS, Verdana;
    font-style:normal;
    color:#FFF;
} 
.abas:hover {
    background:lightskyblue;
    color: black;
    position:relative;
}

.abas:active {
    background:lightskyblue;
    color: black;
    position:relative;
    top:2px;
}

#formatacaoTexto{

    padding: 10px;
    text-align: justify;
    font:19px Arial, Geneva, sans-serif;
    font-style:normal;
    color:#567792;
}

div#Apoio{
    box-shadow: 0 -1px 20px -1px rgba(0, 0, 0, 0.32);
    border-radius: 8px; /* CSS3 */
    -khtml-border-radius: 8px; /* Safari() */
    -moz-border-radius: 8px; /* Mozilla */
    -opera-border-radius: 8px; /* Opera */
    -webkit-border-radius: 8px; /* Safari */
    color: #e6e6e6;
    height: 150px;
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 5px;
}

#botoes:active{
    cursor:pointer;
    position:relative;
    top:2px;
}


div#bannerLogado{
    width: 90%;
    height: 80px;
    padding-top: 10px;
    float:left;
    padding-right: 350px;
}

div#menuLateral{
    padding-top: 70px;
    height: 400px;
    width: 15%;
    margin-left: 58px;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;

}
.menup { 
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}

.menup li{
    margin-bottom: 10px;
    border-bottom: 1px #99B3FF solid; 
}

.menup li label{
    vertical-align: middle;
    font-family: Trebuchet MS, Verdana;
    font-size: 18px;   
    font-weight: lighter;

}

.labeltopol {
    font-family: Trebuchet MS, Verdana;
    font-size: 16px;   
    font-weight: lighter;

}

#rodape {
    width:100%;
    height: 50px;
    font-family: Trebuchet MS, Verdana;
    font-size: 16px;
    vertical-align: middle;
    color: #FFF;
    text-align: center;
    background-color: #067AB7;
    margin: 0px;
    padding-top: 5px;

}
div#avatar{
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    width: 250px;
}

div#atividades{
    min-height: 630px;
    margin: 0 auto;
    width: 1100px;
    box-shadow: 0 -1px 20px -1px rgba(0, 0, 0, 0.32);  
}

.escolhaAtividades{
    min-height: 180px;
    margin: 0 auto;
    //margin-top: 50px;
    width: 180px;
    border-radius: 8px; /* CSS3 */
    -khtml-border-radius: 8px; /* Safari() */
    -moz-border-radius: 8px; /* Mozilla */
    -opera-border-radius: 8px; /* Opera */
    -webkit-border-radius: 8px; /* Safari */
    border: 1px solid lightgrey;
    box-shadow: 0 -1px 20px -1px rgba(0, 0, 0, 0.32);
    cursor:pointer;

}

.escolhaAtividades:active{
    cursor:pointer;
    position:relative;
    top:2px;
}

.formatacaoAtividades{
    width: 350px; 
    height: 100px; 
    padding-left: 100px; 
    padding-bottom: 90px;
    padding-top: 60px; 
    float: left
}

div#subConteudoLogado{
    color: #e6e6e6;
    min-height: 400px;
    width: 70%;
    float:left;
    margin-bottom: 10px;
    padding: 10px;

}
body#body {
    background-color: #e6e6e6;
    font: 14px arial, tahoma, helvetica, sans-serif;
}

div#conteudoLogado{
    box-shadow: 0 -1px 15px -1px #000000;
    height: 620px;
    width: 90%;
    margin: 0 auto;
    background-color: #FFF;
    
}

div#topo {
    box-shadow: 0 -1px 15px -1px #000000;
    height: 150px;
    background-color: #FFF;
    width: 90%;
    margin: 0 auto;

}

div#menuBotoes{
    background-color: #067AB7;
    height: 35px;
    padding-top: 5px;
    width: 100%;
    position: absolute;

}
div#conteudo {
    background-color: #FFF;
    min-height: 390px;
    /* box-shadow: 0 -1px 15px -1px #000000 */
    width: 90%;
    margin: 0 auto;
    margin-bottom: -15px;
    clear:inherit;
}

div#sub-conteudo {
    min-height: 420px;
    margin: 0 auto;
    width:100%;
    margin-top: 40px;
    background-color: #FFF;
    
}

div#formatacaoCadastro{
    padding-left: 300px;
    width: 350px;
}

div#rodape {
    clear: both;
    height: 35px;
    width: 100%;
    text-align: center;
    box-shadow: 0 -1px 10px -1px #000000;
    color: dimgrey;
    background-color: #067AB7;

}

div#loginAluno{
    background-color: #fff;
    color: #212121;
    height: 170px;
    width: 390px;
    margin-top: 15px;
    padding: 30px;
    padding-right: 15%;
    float: left;

}

div#general {
    margin: 0 auto;
    width: 1100px;
}

div#menu {
    background-color: #FFF;
    height: 50px;
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 10px;
}

p.campo{
    padding-top: 20px;
    height: 50px;
    width: 250px;
    border: 0px;
    margin: 0px;
    float: left;
}

p.campot{
    padding-top: 10px;
    height: 30px;
    width: 250px;
    border: 0px;
    margin: 0px;
    float: left;
}

label 
{ 
    font-family: trebuchet ms, verdana;
    font-size: 14px;
    font-weight: lighter;
    text-align: right;
    // color:dimgrey;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
}

div#banner{

    width: 400px;
    height: 200px;
    float:left;
    margin-left:20px;
    padding-right: 250px;
}

div#login{
    /*
    background-color: #f1f1f1;
     border: 1px solid lightgrey;
    */
    color: #212121;
    height: 150px;
    width: 348px;
    float:right;
    

    //margin: 0 auto;
}

div#info {
    /*background-color: #FFF;*/
    height: 20px;
    width: 270px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.input {
    border: 1px solid #A9B4CB;
    background-color: white !important;
    background-image: none !important;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow: 0 -1px 0 transparent, 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    color: #567792;
    float: right;
    margin-right: 2px;
    padding: 4px 5px;
    height: 25px;
    width: 160px;
    font-size: 14px;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
}
.custom-combobox-input {
    margin: 0;
    padding: 0.3em;
}

label.error {
    margin-right: 10px;
    color: red;
    font-style: italic;
    float: right;

}
input.error { border: 1px dotted red; }

.error {
    color: red;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.05em white;
}
