table {font: 85% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;padding: 0; margin: 0; border-collapse: collapse; color: #333; background: #F3F5F7;}

table a {color: #3A4856; text-decoration: none; border-bottom: 1px solid #C6C8CB;}
table a:visited {color: #777;}

table a:hover {color: #000;}  

table caption {text-align: left; text-transform: uppercase;  padding-bottom: 10px; font: 200% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;}

table thead th {background: #3A4856; padding: 15px 10px; color: #fff ; text-align: left; font-weight: normal; 
                cursor: pointer;
	}

table tbody, table thead {border-left: 1px solid #EAECEE; border-right: 1px solid #EAECEE;}

table tbody {border-bottom: 1px solid #EAECEE;}             
table tbody td, table tbody th {padding: 10px; border-bottom: 2px solid #EAECEE; /*background: url("../images/td_back.gif") repeat-x;*/ text-align: left;}

/*table tbody tr {background: #F3F5F7;}*/

table tbody tr.odd {background: #F0F2F4; background: linear-gradient(#F0F2F4, #ccc)}
/*cadetblue darkseagreen darkgoldenrod*/
/*table tbody  tr:hover {background: sandybrown; color: #111;}*/

table tfoot td, table tfoot th, table tfoot tr {text-align: left; font: 120%  "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif; text-transform: uppercase; background: #fff; padding: 10px;}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/tables/sort_asc.png') no-repeat center right;
         background-color:#000;
}

.sorting_desc {
	background: url('../images/tables/sort_desc.png') no-repeat center right;
        background-color:#000;
}

.sorting {
	background: url('../images/tables/sort_both.png') no-repeat center right;
        background-color:#000;
}

.sorting_asc_disabled {
	background: url('../images/tables/sort_asc_disabled.png') no-repeat center right;
        background-color:#000;
}

.sorting_desc_disabled {
	background: url('../images/tables/sort_desc_disabled.png') no-repeat center right;
        background-color:#000;
}

.dataTables_wrapper {
	position: relative;
	clear: both;
	zoom: 1; /* Feeling sorry for IE */
        background: #F0F2F4;
        /*background: linear-gradient(#F0F2F4, #777);*/
        -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
border: 1px solid rgb(157, 157, 157);
overflow: hidden;
}
.dataTables_length {
	width: 50%;
	float: left;
	margin-top:40px;
        padding: 5px;
}
.dataTables_filter {
	float: right;
	text-align: right;
	margin-top:40px;
	margin-right: -140px;
        padding: 5px;
        padding-bottom:10px;
}

.dataTables_info {
	width: 60%;
	float: left;
        padding: 5px;
}

.dataTables_paginate {
	float: right;
	text-align: right;
        padding: 10px;
}


/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous,
.paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,
.paginate_disabled_next:hover, .paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active,
.paginate_disabled_next:active, .paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next, .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.paginate_disabled_previous {
	background: url('../images/tables/back_disabled.png') no-repeat top left;
}

.paginate_enabled_previous {
	background: url('../images/tables/back_enabled.png') no-repeat top left;
}
.paginate_enabled_previous:hover {
	background: url('../images/tables/back_enabled_hover.png') no-repeat top left;
}

.paginate_disabled_next {
	background: url('../images/tables/forward_disabled.png') no-repeat top right;
}

.paginate_enabled_next {
	background: url('../images/tables/forward_enabled.png') no-repeat top right;
}
.paginate_enabled_next:hover {
	background: url('../images/tables/forward_enabled_hover.png') no-repeat top right;
}


/* Full number pagination */
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
}

.paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}


table.dataTable tr.odd td.sorting_1 { background-color: #C6C8CB; }
table.dataTable tr.even td.sorting_1 { background-color: #EAECEE; }


